.header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	height: 85px;
}

.menu__list {
	display: flex;
	align-items: center;
}

.menu__item {
	color: var(--black);
	font-size: 18px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0.1px;
}

.menu__item:not(:last-child) {
	margin-right: 20px;
}

.menu__item:last-child {
	width: 38px;
	height: 38px;

	display: flex;
	justify-content: center;
	align-items: center;

	border: 1px solid var(--black);
	border-radius: 50%;

	font-size: 16px;
}

.menu__link {
	display: flex;
	align-items: center;
}

.menu__icon {
	width: 26px;
	height: 26px;
	margin-right: 5px;
}
